@font-face {
    font-family: gr;
    src: url("fonts/Gilroy-ExtraBold.otf");
    font-display: swap;
}

@font-face {
    font-family: fs;
    src: url("fonts/Fixedsys500c.woff");
    font-display: swap;
}

.light-theme {
    --color-background : rgb(252,252,252);
    --color-text-inverted : rgb(255,255,255);
    --color-text-primary : rgb(0,0,0);
    --color-text-focus : rgb(128,128,128); 
    --color-divider : rgb(211,211,211); 
    --color-menushadow : rgb(33,33,33);
    --color-menu : rgb(252,252,252);
    --color-menucontainer: rgba(0,0,0,0.4);
    --color-cardbg : rgb(255,255,255);
    --color-card-labelbg : rgb(175,82,222);
    --color-card-linkbg : rgb(0, 122, 255);
    
    --card-borderadius : 4px;

    --icon-home : url("icons/home.svg");
    --icon-work : url("icons/briefcase.svg");
    --icon-resume : url("icons/file-text.svg");
    --icon-linkedin : url("icons/linkedin.svg");
    --icon-github : url("icons/github.svg");
    --icon-email : url("icons/mail.svg");

    --font-title : gr;
    --font-body : system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dark-theme {
    --color-background : rgb(0,0,0);
    --color-text-inverted : rgb(0,0,0);
    --color-text-primary : rgb(255,255,255);
    --color-text-focus : rgb(246,190,0);
    --color-divider : rgb(60,60,60);
    --color-menushadow : rgb(33,33,33);
    --color-menu : rgb(28,28,28);
    --color-menucontainer: rgba(0,0,0,0.4);
    --color-cardbg : rgb(28,28,28);
    --color-card-labelbg : rgb(191,90,242);
    --color-card-linkbg : rgb(10, 132, 255);

    --card-borderadius : 4px;

    --icon-home : url("icons/home-dark.svg");
    --icon-work : url("icons/briefcase-dark.svg");
    --icon-resume : url("icons/file-text-dark.svg");
    --icon-linkedin : url("icons/linkedin-dark.svg");
    --icon-github : url("icons/github-dark.svg");
    --icon-email : url("icons/mail-dark.svg");

    --font-title : gr;
    --font-body : system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.retro-theme {
    --color-background : #000084;
    --color-text-inverted : rgb(255,255,255);
    --color-text-primary : rgb(255,255,255);
    --color-text-focus : #fefe54;
    --color-divider : rgb(255,255,255);
    --color-menushadow : rgb(33,33,33);
    --color-menu : #000084;
    --color-menucontainer: rgba(0,0,0,0.4);
    --color-cardbg : #bbb;
    --color-card-labelbg : rgb(0, 255, 0);
    --color-card-linkbg : rgb(255, 0, 255);

    --card-borderadius : 0;

    --icon-home : url("icons/home-dark.svg");
    --icon-work : url("icons/briefcase-dark.svg");
    --icon-resume : url("icons/file-text-dark.svg");
    --icon-linkedin : url("icons/linkedin-dark.svg");
    --icon-github : url("icons/github-dark.svg");
    --icon-email : url("icons/mail-dark.svg");

    --font-title : fs;
    --font-body : fs, monospace;
}


/*small phones like iPhone 5 */
@media only screen and (max-width: 600px) {

    main > div h1 {
        font-size: 42px;
    }

    header {
        padding: 0 12px;
    }

    nav {
        padding: 18px 0;
    }

    nav > ul {
        display: none;
    }

    .project-container {
        flex-flow: column nowrap;
    }

    .project-container > section:first-child {
        width: 100%;
    }

    .project-container > section:last-child {
        width: 100%;
    }


}

/* large phones and tablets */
@media only screen and (min-width: 600px) {
    main > div h1 {
        font-size: 72px;
    }

    header {
        padding: 0 42px;
    }

    nav {
        padding: 18px 0;
    }

    nav > ul {
        display: none;
    }

    .project-container {
        flex-flow: column nowrap;
    }

    .project-container > section:first-child {
        width: 100%;
    }

    .project-container > section:last-child {
        width: 100%;
    }

}

/* computers and other large displays */
@media only screen and (min-width: 992px) {
    main > div h1 {
        font-size: 96px;
    }

    header {
        padding: 0 90px;
    }

    nav {
        padding: 24px 0;
    }

    nav > ul {
        display: block;
    }

    nav > label:first-child, nav > label:last-child {
        display: none;
    }

    .project-container {
        flex-flow: row nowrap;
    }

    .project-container > section:first-child {
        width: 20%;
    }

    .project-container > section:last-child {
        width: 76%;
    }

}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-family: var(--font-body);
}

header {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
}

main {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
    scrollbar-width: none;
}

main::-webkit-scrollbar {
    display: none;
}

main > div {
    transition: all 250ms ease-out;
}

main > div h1 {
    font-family: var(--font-title);
    margin: 0;
}


a {
    text-decoration: none;
    color: var(--color-text-focus);
    transition: all 300ms ease;
    cursor: pointer; 
}


nav {
    border-top: 1px solid var(--color-divider);
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 24px;
}

nav a, nav label, #mobile-menu-container a, #mobile-menu-container label {
    text-decoration: none;
    color: var(--color-text-primary);
    transition: all 300ms ease;
    cursor: pointer;
}

nav a:hover, nav label:hover, #mobile-menu-container a:hover, #mobile-menu-container label:hover {
    color: var(--color-text-focus);
}

nav label.selected {
    color: var(--color-text-focus);
    text-decoration: dotted;
    text-decoration-line: underline;
    text-underline-offset: 6px;
}


.view-visible {
    display: block;
}

.view-invisible {
    display: none;
}

#mobile-menu-container {
    background-color: var(--color-menucontainer);
    z-index: 9;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 100ms ease;
}

#mobile-menu-container ul {
    background-color: var(--color-menu);
    padding: 24px;
    position: absolute;
    bottom: -800px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    box-shadow: 0 -3px 6px -6px var(--color-menushadow);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    list-style: none;
    transition: all 400ms ease;
}

#mobile-menu-container li {
    margin: 12px 0;
}

#mobile-menu-container ul li:nth-child(2)::before {
    content: var(--icon-home);
}

#mobile-menu-container ul li:nth-child(3)::before {
    content: var(--icon-work);
}

#mobile-menu-container ul li:nth-child(4)::before {
    content: var(--icon-resume);
}

#mobile-menu-container ul li:nth-child(5)::before {
    content: var(--icon-email);
}

#mobile-menu-container ul li:nth-child(6)::before {
    content: var(--icon-github);
}

#mobile-menu-container ul li:nth-child(7)::before {
    content: var(--icon-linkedin);
}

#work {
    flex: 1;
    box-sizing: border-box;
    position: relative;
}

#work h1 {
    margin: 36px 0;
}

#work > div {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

#work > div::-webkit-scrollbar {
    display: none;
}

.project-container {
    padding: 24px;
    box-sizing: border-box;
    background: var(--color-cardbg);
    border-radius: var(--card-borderadius);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 24px;
}

.project-container > section:first-child > img {
    display: inline-block;
    width: 100%;
    margin-bottom: 16px;
}

.project-container h2, p, ul {
    margin: 0;
    margin-bottom: 24px;
}

.project-container ul {
    list-style: none;
    padding-left: 0;
}

.project-container li {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 6px;
    padding: 4px 8px;
    background-color: var(--color-card-labelbg);
    color: var(--color-text-primary);
    font-size: 14px;
    border-radius: var(--card-borderadius);
}

.project-container a {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 6px;
    background-color: var(--color-card-linkbg);
    padding: 4px 8px;
    color: var(--color-text-primary);
    border-radius: var(--card-borderadius);
}

body > h5 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    margin: 0;
    color: red;
    background: repeating-linear-gradient(45deg, rgb(246,190,0), rgb(246,190,0) 10px, black 10px, black 20px);
}