.light-theme {
    --color-background : rgb(253,253,253);
    --color-text-inverted : rgb(255,255,255);
    --color-text-primary : rgb(0,0,0);
    --color-text-focus : rgb(128,128,128); 
    --color-divider : rgb(211,211,211); 
    --color-menushadow : rgb(33,33,33);
    --color-menu : rgb(253,253,253);
    --color-menucontainer: rgba(0,0,0,0.4);

    --icon-home : url("icons/home.svg");
    --icon-work : url("icons/briefcase.svg");
    --icon-resume : url("icons/file-text.svg");
    --icon-linkedin : url("icons/linkedin.svg");
    --icon-github : url("icons/github.svg");
    --icon-email : url("icons/mail.svg");
}

.dark-theme {
    --color-background : rgb(0,0,0);
    --color-text-inverted : rgb(0,0,0);
    --color-text-primary : rgb(255,255,255);
    --color-text-focus : rgb(246,190,0);
    --color-divider : rgb(60,60,60);
    --color-menushadow : rgb(33,33,33);
    --color-menu : rgb(28,28,28);
    --color-menucontainer: rgba(0,0,0,0.4);

    --icon-home : url("icons/home-dark.svg");
    --icon-work : url("icons/briefcase-dark.svg");
    --icon-resume : url("icons/file-text-dark.svg");
    --icon-linkedin : url("icons/linkedin-dark.svg");
    --icon-github : url("icons/github-dark.svg");
    --icon-email : url("icons/mail-dark.svg");
}

@font-face {
    font-family: gr;
    src: url("fonts/Gilroy-ExtraBold.otf");
    font-display: swap;
}


/*small phones like iPhone 5 */
@media only screen and (max-width: 600px) {

    main > div h1 {
        font-size: 42px;
    }

    header {
        padding: 0 12px;
    }

    nav {
        padding: 12px 0;
    }

    nav > ul {
        display: none;
    }


}

/* large phones and tablets */
@media only screen and (min-width: 600px) {
    main > div h1 {
        font-size: 72px;
    }

    header {
        padding: 0 42px;
    }

    nav {
        padding: 18px 0;
    }

    nav > ul {
        display: none;
    }

}

/* computers and other large displays */
@media only screen and (min-width: 992px) {
    main > div h1 {
        font-size: 96px;
    }

    header {
        padding: 0 90px;
    }

    nav {
        padding: 24px 0;
    }

    nav > ul {
        display: block;
    }

    nav > label:first-child, nav > label:last-child {
        display: none;
    }

}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
}

main {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
    scrollbar-width: none;
}

main::-webkit-scrollbar {
    display: none;
}

main > div {
    transition: all 250ms ease-out;
}

main > div h1 {
    font-family: gr;
    margin: 0;
}


a {
    text-decoration: none;
    color: var(--color-text-focus);
    transition: all 300ms ease;
    cursor: pointer; 
}


nav {
    border-top: 1px solid var(--color-divider);
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 24px;
}

nav a, nav label, #mobile-menu-container a, #mobile-menu-container label {
    text-decoration: none;
    color: var(--color-text-primary);
    transition: all 300ms ease;
    cursor: pointer;
}

nav a:hover, nav label:hover, #mobile-menu-container a:hover, #mobile-menu-container label:hover {
    color: var(--color-text-focus);
}

nav label.selected {
    color: var(--color-text-focus);
    text-decoration: dotted;
    text-decoration-line: underline;
    text-underline-offset: 6px;
}


.view-visible {
    display: block;
}

.view-invisible {
    display: none;
}

#mobile-menu-container {
    background-color: var(--color-menucontainer);
    z-index: 9;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 100ms ease;
}

#mobile-menu-container ul {
    background-color: var(--color-menu);
    padding: 24px;
    position: absolute;
    bottom: -800px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    box-shadow: 0 -3px 6px -6px var(--color-menushadow);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    list-style: none;
    transition: all 400ms ease;
}

#mobile-menu-container li {
    margin: 12px 0;
}

#mobile-menu-container ul li:nth-child(2)::before {
    content: var(--icon-home);
}

#mobile-menu-container ul li:nth-child(3)::before {
    content: var(--icon-work);
}

#mobile-menu-container ul li:nth-child(4)::before {
    content: var(--icon-resume);
}

#mobile-menu-container ul li:nth-child(5)::before {
    content: var(--icon-email);
}

#mobile-menu-container ul li:nth-child(6)::before {
    content: var(--icon-github);
}

#mobile-menu-container ul li:nth-child(7)::before {
    content: var(--icon-linkedin);
}

#wip {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color-text-primary);
    color: var(--color-text-inverted);
}

#wip p {
    padding: 8px;
}

#wip:after {
    background: linear-gradient(-45deg, transparent 8px, transparent 0), linear-gradient(45deg, transparent 8px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 16px 16px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 16px;
}